In [1]:
print("Hello Python")

Hello Python

In [7]:
n = 10 #int
m = 5.0 #float
name = 'LISA' #str
is_google = True #bool

In [8]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
LISA
True

In [14]:
#tuple
t1 = (1,2,3,4)
print(type(t1))

t2 = ('a','b','c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [15]:
#tuple,暫時的資料,()
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)

name,chinese,Math,english, = 'L',9,8,7

In [18]:
print(name)
print(chinese)
print(Math)
print(english)

L
9
8
7

In [1]:
#list[]
mylist = [1,2,3,4]
mylist

[1, 2, 3, 4]

In [2]:
print(type(mylist))

<class 'list'>

In [1]:
student1 = ['Li',12,34,56]
student1

['Li', 12, 34, 56]

In [2]:
#subscript
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

Li
12
34
56

In [3]:
#list iterable
for element in student1:
    print(element)

Li
12
34
56

In [4]:
greeting = 'Hello! Python!'
for ele in greeting:
    print(ele)

H
e
l
l
o
!

P
y
t
h
o
n
!

In [11]:
#dictionary
student1 = {'name':"ROY",
            'chinese':89,'math':98,'english':47}
student1

{'name': 'ROY', 'chinese': 89, 'math': 98, 'english': 47}

In [13]:
print(type(student1))

<class 'dict'>

In [14]:
for key in student1:
    print(student1[key])

ROY
89
98
47